Repository AlexAegis/bevy_descendant_collector: changes, and which Codecov flags are due for each by the changed paths.
All: bevy_descendant_collector, bevy_descendant_collector_derive

chore: added patch treshhold for coverage reports
  Makefile.toml
  codecov.yml
Due: none

docs: clean out duplications
  docs/01_introduction.md
  license
  readme.md
Due: none

chore: adjust changelog groups
  Makefile.toml
  release-plz.toml
Due: none

chore: remove package.json
  package.json
  pnpm-lock.yaml
Due: none

docs: rename page
  docs/01_example.md
  docs/SUMMARY.md
Due: none

chore: add coverage badge
  readme.md
Due: none

chore: updated changelog groups
  release-plz.toml
Due: none

chore(bevy_descendant_collector): release v0.5.2
  CHANGELOG.md
  Cargo.lock
  crates/bevy_descendant_collector/Cargo.toml
Due: bevy_descendant_collector

chore: add cargo audit to the makefile
  Cargo.lock
  Makefile.toml
Due: none

ci: added machete
  .github/workflows/ci.yml
  Makefile.toml
Due: none

chore: rename book-serve to just book
  Makefile.toml
Due: none

chore: fix dependabot prefix
  .github/dependabot.yml
Due: none

feat(bevy_descendant_collector)!: update to bevy 0.18
  Cargo.lock
  Cargo.toml
  crates/bevy_descendant_collector/Cargo.toml
  crates/bevy_descendant_collector_derive/Cargo.toml
  readme.md
Due: bevy_descendant_collector, bevy_descendant_collector_derive

chore(bevy_descendant_collector): release v0.5.2
  CHANGELOG.md
Due: none

chore: upgrade to bevy 0.19
  Cargo.lock
  Cargo.toml
  crates/bevy_descendant_collector/examples/turret.rs
  readme.md
Due: bevy_descendant_collector

chore(bevy_descendant_collector): release v0.7.0
  CHANGELOG.md
  Cargo.lock
  crates/bevy_descendant_collector/Cargo.toml
  crates/bevy_descendant_collector_derive/Cargo.toml
Due: bevy_descendant_collector, bevy_descendant_collector_derive

chore(bevy_descendant_collector): release v0.6.1
  CHANGELOG.md
Due: none

chore!: prepare bevy 0.20 upgrade
  Cargo.lock
  Cargo.toml
  readme.md
Due: none

chore: upgrade to bevy 0.20
  Cargo.lock
  Cargo.toml
Due: none

chore(bevy_descendant_collector): release v0.8.0
  CHANGELOG.md
  Cargo.lock
  crates/bevy_descendant_collector/Cargo.toml
Due: bevy_descendant_collector

chore(bevy_descendant_collector): release v0.8.0
  CHANGELOG.md
Due: none

ci: bump github actions
  .github/workflows/ci.yml
  .github/workflows/release_plz.yml
  .github/workflows/release_pr.yml
Due: none

chore(bevy_descendant_collector): release v0.8.1
  CHANGELOG.md
  Cargo.lock
  crates/bevy_descendant_collector/Cargo.toml
Due: bevy_descendant_collector

Path conditions:
  bevy_descendant_collector: any of: crates/bevy_descendant_collector/**
  bevy_descendant_collector_derive: any of: crates/bevy_descendant_collector_derive/**
